header {
    background-color: #fff;
}

.navbar-brand {
    font-weight: bold;
}


/* Main content */

.product {
    margin-bottom: 30px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
    color: #007bff;
}


/* Footer */

footer {
    color: #fff;
}